<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!DOCTYPE html>
<head>
    <style>
        @font-face {
            font-family: 'binggrae_samanco';
            src: url('/font/binggrae_samanco.otf') format('opentype');
        }
    </style>
    <meta charset="UTF-8">
    <title>LISA의 그림공간</title>
</head>
<body style="margin: 0px">
<div id="mainWrap">
    <div style="height: 90px; min-width: 1200px; margin: 0 auto; background-color: #fce2ff; vertical-align: middle">
        <div style="float:left; width: 80px; font-size: 50px; position: relative; top: 18px; left: 28px; font-family: 'binggrae_samanco';">
            LISA
        </div>

        <div style="float:left; margin: 0 auto;">
            <div style="float:left; width: 80px;">
                HOME
            </div>
            <div style="float:left; width: 80px;">
                이용안내
            </div>
            <div style="float:left; width: 80px;">
                의뢰게시판
            </div>
            <div style="float:left; width: 80px;">
                고객센터
            </div>
        </div>
    </div>
</div>
</body>
</html>